header {
    display: flex;
    justify-content: space-between;
}
.sign {
    display: none;
    margin-top: 12px;
    position: absolute;
    right: 12px;
    width: 180px;
    text-align: center;
    background-color: blue;
}
.show {
    display: flex;
}
.hide {
    display: none;
}