header {
    display: flex;
    justify-content: space-between;
}
.sign-up {
    display: none;
    margin-top: 12px;
    margin-left: auto;
    width: 180px;
    text-align: center;
    background-color: blue;
}
#sign-upBtn {
    display: none;
}
.show {
    display: flex;
}